<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mvp">

    <application>
        <activity
            android:name="com.example.main.view.ViewPagerTwoActivity"
            android:exported="true" />
        <activity
            android:name="amd.example.mvp.view.FaceUnityActivity"
            android:exported="true" />
        <activity android:name="amd.example.mvp.view.MVPActivity" />
        <activity android:name="amd.example.mvp.view.AgoraActivity" />
    </application>

</manifest>